<!DOCTYPE html>
<html ng-app="MyApp" ng-controller="IndexController">

<head>
	<base href="./" />
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		crossorigin="anonymous" />
	<link id="bootstrap" ng-href="{{currentTheme.href}}" rel="stylesheet" integrity="{{currentTheme.integrity}}"
		crossorigin="anonymous" />
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
		crossorigin="anonymous" />
	<link href="./css/site.css" rel="stylesheet" />
</head>

<body ng-cloak>
	<nav class="navbar navbar-inverse" id="mainNavBar" style="display: none">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand" href="#">
					<div><img class="navbar-image" src="./images/ProfilePic.png" alt="Home" /> Home</div>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							RPG Tools<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a ng-href="#quick_encounter">
									Quick Encounter
								</a>
							</li>
							<li>
								<a ng-href="#experience_calculator">
									Experience Calculator
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
							Minecraft Mods<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a ng-href="#minecraft_prefab">
									Prefab
								</a>
							</li>
							<li>
								<a ng-href="#minecraft_wuest_utilities">
									Wuest Utilities
								</a>
							</li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" id="theme-dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-question fa-lg">
							</i> Help<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="button">
								<a href="https://github.com/Brian-Wuest/Brian-Wuest.github.io/issues/new" target="_blank">
									<i class="fa fa-exclamation-circle fa-lg"></i> Report Issue
								</a>
							</li>
							<li class="button">
								<a href="https://github.com/Brian-Wuest/Brian-Wuest.github.io/wiki" target="_blank">
									<i class="fa fa-wikipedia-w fa-lg"></i> Open Wiki
								</a>
							</li>
							<li class="button">
								<a ng-href="#about">
									<i class="fa fa-info-circle fa-lg"></i> About
								</a>
							</li>
						</ul>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown" id="theme-dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="fa fa-cog fa-lg">
							</i> Theme<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li ng-repeat="theme in themes">
								<a ng-click="ThemeClick(theme)" id="theme_{{theme.name}}">
									<i class="fa fa-check" aria-hidden="true" ng-show="theme.selected"></i>
									<span ng-class="{dropdownPadding: !theme.selected}">{{theme.name}}</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="contentView" class="container-fluid">
		<div class="ng-view"></div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.min.js"></script>
	<script src="./js/sources/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="./js/site.js"></script>
	<script src="./js/ng-js/app.js"></script>
	<script src="./js/ng-js/controllers/IndexController.js"></script>
	<script src="./js/ng-js/controllers/ExperienceCalculatorController.js"></script>
	<script src="./js/ng-js/controllers/QuickEncounterController.js"></script>
	<script src="./js/ng-js/controllers/PrefabController.js"></script>
</body>

</html>