<div class="row">
    <h1 class="col-xs-12 align-text-center">Experience Calculator</h1>
    <hr class="col-xs-12"/>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <form>
                <div class="col-xs-12 form-group">
                    <label class="col-xs-2 col-md-1">Experience System</label>
                    <div class="col-xs-3 col-md-3">
                        <select class="form-control">
                            <option value="5thEdition" selected>D&amp;D 5th Edition</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-4 well">
            <h2>Number of Monsters and Challenge Rating</h2>
            <hr/>
            <form name="monstersForm" id="monstersForm">
                <table class="col-xs-12">
                    <thead>
                        <tr>
                            <th style="width: 25%;"></th>
                            <th style="width: 33%;" class="align-text-center">Challenge Rating</th>
                            <th style="width: 33%;" class="align-text-center">Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="monster in currentMonsters">
                            <td class="right-left-padding-10">
                                <button class="btn btn-default" style="margin-bottom: 5px;" ng-click="removeMonster(monster)">Remove</button>
                            </td>
                            <td class="right-left-padding-10">
                                <select class="form-control input-sm" style="margin-bottom: 5px;" ng-model="monster.MonsterInfo" ng-change="updatePlayersXP()" ng-options="cr.ChallengeRating for cr in monsterChallengeRatings">
                                </select>
                            </td>
                            <td class="right-left-padding-10">
                                <input name="monsterCount" class="form-control input-sm" style="margin-bottom: 5px;" type="number" min="0" max="100" ng-min="0" ng-max="100" ng-model="monster.MonsterCount" ng-change="updatePlayersXP('monstersForm')"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <div class="row">
                <div class="col-xs-3 col-md-2">
                    <button class="btn btn-default" style="margin-top: 10px;" ng-click="addMonster()">Add Monster</button>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4 col-md-offset-1 well">
            <!--This is for the number of players and total experience.-->
            <h2>Player Count and Calculated Experience</h2>
            <hr/>
            <form name="playersForm" id="playersForm">
                <div class="row form-group">
                    <label class="col-xs-4">Player Count: </label>

                    <div class="col-xs-3 ">
                        <input name="playerCount" class="form-control input-sm" type="number" min="0" max="100" step="1" ng-change="updatePlayersXP('playersForm')" ng-model="playerCount"
                        />
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-xs-4">Per-Player Experience: </label>
                    <div class="col-xs-3">
                        <input class="form-control input-sm" readonly ng-value="playerXp | number: 0" />
                    </div>
                </div>

                <div class="row form-group">
                    <label class="col-xs-4">Total Experience: </label>
                    <div class="col-xs-3">
                        <input class="form-control input-sm" readonly ng-value="playerXp * playerCount | number: 0" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>