<div class="row">
    <h1 class="col-xs-12 align-text-center">Prefab mod showcase</h1>
    <div class="col-xs-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <div uib-carousel active="0" interval="5000" no-wrap="false" style="height: 350px">
            <div uib-slide ng-repeat="slide in imageSlides track by slide.id" index="slide.id">
                <img ng-src="{{getImageFileName(slide.file)}}" class="carousel-image" style="margin:auto;">
                <div class="carousel-caption">
                    <h3>{{slide.description}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-1 panel panel-primary">
        <div class="panel-heading">
            <h3>Mod Info</h2>
        </div>
        <div class="panel-body">
            <h3>For Players:</h3>
            <p>This mod is all about providing items that lets you generate buildings quickly and safely. Once you get one of
                these items you don't have to worry about a pesky zombie getting in the way when are trying to design your
                dream home.</p>

            <p>The slideshow shows some of the buildings which you can generate with this mod.</p>

            <p>Information on all of the generatable buildings and other bits and bobbles available in this mod can be found
                <strong><a href="https://github.com/Brian-Wuest/MC-Prefab/wiki" target="_blank">here</a></strong>.</p>

            <p>You find all of the available downloads for this mod
                <strong><a href="https://minecraft.curseforge.com/projects/prefab/files" target="_blank">here</a></strong>.
            </p>

            <p>Happy building!</p>

            <h3>For Modders:</h3>
            <p>If you want to use this mod as a dependency for your own mod, code documentation can be found <strong><a href="./templates/minecraft/prefab_code_docs/index.html" target="_blank">here</a></strong>.</p>
            <p>This is still a work in progress, documentation will be added as I find holes in the documentation but should
                be still usable.</p>
        </div>
    </div>
</div>